# Other
Thumbs.db
Desktop.ini
[Oo]ther
[Oo]ld

# Visual Studio
[Dd]ebug
[Rr]elease
[Bb]in
[Oo]bj
*.suo
*.user
*.sln.docstates
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.vspscc
.builds
*.dotCover
sql
TestResults
*.Cache
ClientBin
stylecop.*
~$*
*.dbmdl
Generated_Code
